/* Coolors Exported Palette - coolors.co/114b5f-028090-e4fde1-456990-f45b69 */

/*color1: #114b5f; //rgba(17, 75, 95, 100)
color2: #028090; //rgba(2, 128, 144, 100)
color3: #e4fde1; //rgba(228, 253, 225, 100)
color4: #456990; //rgba(69, 105, 144, 100)
color5: #f45b69; //rgba(244, 91, 105, 100)*/

body {
	background-color: #114b5f;
}

h1 {
	text-transform: uppercase;
	color: #f45b69;
}

.container {
	background-color: #e4fde1;
	padding-bottom: 10px;
}

.nav-tabs > li > a {
	color: #456990;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
	background-color: #456990;
	color: white;
}

.margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

#tab-container {
	display: none;
	margin-top: 20px;
}

#tabs {
	background-color: white;
	padding: 0;
}

#city-btn {
	background-color: #f45b69;
	color: #e4fde1;
}

#map-container {
	height: 250px;
	max-width: 500px;
	min-width: 250px;
}

#map {
	height: 100%;
	width: 100%;
}

#mars-map-big {
	display: none;
}

#mars-map-big-container {
	max-width: 500px;
	min-width: 250px;
}

#mars-map-big {
	height: 100%;
	width: 100%;
}

#mars-information {
	margin-top: 20px;
}

table {
	/*background-color: #456990;*/
	color: #456990;
}

table th {
	background-color: #456990;
	color: #e4fde1;
}

#loading {
	display: none;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;
    position: relative;
}

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  /*width: calc(100% - 200px);*/
  /*color: #FFFF00;*/
  padding: 0 100px;
/*  text-align: center;
*/}

.cs-loader-inner label {
  font-size: 15px;
  font-style: italic;
  opacity: 0;
  display:inline-block;
  margin: 5px;
}

.cs-loader-inner label img {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);

	transform: rotate(45deg);

	width: 20px;

	margin-left: 15px;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(400px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-250px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(400px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 4s infinite ease-in-out;
  animation: lol 4s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 4s 100ms infinite ease-in-out;
  animation: lol 4s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 4s 200ms infinite ease-in-out;
  animation: lol 4s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 4s 300ms infinite ease-in-out;
  animation: lol 4s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 4s 400ms infinite ease-in-out;
  animation: lol 4s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 4s 500ms infinite ease-in-out;
  animation: lol 4s 500ms infinite ease-in-out;
}

@media screen and (min-width: 991px) {
	.vertical-align {
	    display: flex;
	    align-items: center;
	}

	.xs-margin {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.xs-margin {
	    height: 30px;
	}

	.cs-loader-inner label {
  		font-size: 10px;
  		margin: 1px;
  	}

  	.cs-loader-inner label img {
		width: 10px;
		margin-left: 5px;
  	}
}

#team-photo-container {
	margin-top: 20px;
	min-width: 250px;
	max-width: 300px;
}

#team-photo {
	width: 100%;
}
